<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/auth/perfil">Perfil</a></li>
        <li><a href="/auth/dashboard">Dashboard</a></li>
        <li><a href="#contact">Contato</a></li>
        <li><a href="/auth/logout">Sair</a></li>
    </ul>
  </nav>
</body>
</html>