<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1>404 - Página Não Encontrada</h1>
        <p>Desculpe, a página que você está tentando acessar não existe.</p>
        <a href="/logout">Voltar para a página de login</a>
        <br>
        <a href="/home">Ir para a página inicial</a>
    </div>
</body>
</html>
